/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 /*Start custom alert box*/
.smr-alert {
    width: 100%;
    padding: 16px 8px;
    margin: 8px auto;
  }
  .smr-alert.disc {
    background: #fff;
    color: #293d57;
    border-right: 4px solid;
  }
  .smr-alert.disc h2 {
    color: #1b2b40;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .smr-alert.info {
    background: #ddffff;
    color: #293d57;
  }
  .smr-alert.info h2 {
    color: #1b2b40;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .smr-alert.succ {
    background: green;
    color: #fff;
  }
  .smr-alert.succ h2 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .smr-alert.succ p {
    color: #fff;
  }
  .smr-alert.info2 {
    background: #2196F3;
    color: #e8ebf1;
  }
  .smr-alert.info2 h2 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .smr-alert.warn {
    background: #ffffcc;
    color: #293d57;
  }
  .smr-alert.warn h2 {
    color: #1b2b40;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .smr-alert.warn2 {
    background: yellow;
    color: #293d57;
  }
  .smr-alert.warn2 h2 {
    color: #1b2b40;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .smr-alert.dang {
    background: #ffdddd;
    color: #293d57;
  }
  .smr-alert.dang h2 {
    color: #1b2b40;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .smr-alert.dang2 {
    background: #f0284a;
    color: #e8ebf1;
  }
  .smr-alert.dang2 h2 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .smr-custome-alert {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999999999999;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .smr-custome-alert .smr-alert-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .smr-custome-alert .smr-alert-box {
    background: #fff;
    position: absolute;
    padding: 8px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    top: -100px;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 5px #293d57;
            box-shadow: 0px 0px 5px #293d57;
    border-radius: 5px;
    width: 500px;
    max-width: 95%;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  
  .smr-alert-content {
    width: 100%;
    text-align: center;
  }
  .smr-alert-content h2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 32px;
    background: #0056E0;
    font-size: 17px;
    color: #fff;
    margin: 0 !important;
  }
  .smr-alert-content p {
    margin-top: 32px;
  }
  
  .smr-alert-footer {
    position: absolute;
    bottom: 0;
    padding: 4px;
    background: #ddd;
    width: 100%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .smr-custome-alert button {
    padding: 4px 24px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    -webkit-transition: 0.05s ease;
    transition: 0.05s ease;
  }
  
  .smr-custome-alert button:hover {
    opacity: 0.9;
  }
  
  .smr-custome-alert .smr-alert-no-btn {
    background: #0056E0;
  }
  
  .smr-custome-alert .smr-alert-ok-btn {
    background: #4cb050;
  }
  
  .smr-custome-alert .smr-alert-box span {
    position: absolute;
    top: 6px;
    right: 4px;
    width: 20px;
    height: 20px;
    background: #f0284a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 17px;
    font-weight: bold;
  }
  
  .smr-custome-alert .smr-alert-box span:hover {
    opacity: 0.9;
  }
  
  /*Start custom alert side info box*/
  .smr-custome-alert-info {
    padding: 16px 32px 4px 8px;
    background: #fafafa;
    color: #1b2b40;
    position: fixed;
    bottom: 20px;
    right: -15%;
    -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: start;
        justify-self: start;
    font-weight: bold;
    width: 400px;
    max-width: 95%;
  }
  
  .smr-custome-alert-info .smr-alert-info span {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    color: #293d57;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .smr-custome-alert-info .smr-alert-info span:hover {
    color: #1b2b40;
  }
  
  /*End custom alert side info box*/
  /*End custom alert box*/